@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Sniglet&display=swap');

//fonts
$headerFont : Sniglet;
$bodyFont: Cabin;

//text-colors:
$primaryColor: rgb(40,40,40);

//spacing:
$small: 3px;