//variables
@import "../variables/variables.scss"; 

//data container is in mainfeed.tsx
  .data-container {
  width: 75%;
  min-height: 100vh;
  
}

.feed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  margin-top: 30px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: -3.7em;
  
}

.favorites {
    margin-bottom: 5px;
    margin-right: 1.71em;
    background-color: $lightestBlue;
    font-family: $bodyFont;
    padding: 2px 10px;
    border-radius: 5px;
    line-height: 25px;
    transition: background-color .5s ease-out;
  
}
.favorites:hover {
  cursor: pointer;
    transform: scale(110%);
    background-color: $mediumBlue;
}

.favorites:active {
    transform: scale(90%);
    box-shadow: 0 0px 5px 0px $border inset;
}


.favorites-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-top: 13px;
  padding-bottom: 26px;

  p {
    color: $lightestBlue;
    font-size: 20px;
    margin-right: 1.71em;
    font-family: $bodyFont;
    margin-top: 10px;
  }
}

.all {
 width: 15%;
  margin-right: 1.71em;
  background-color: $lightestBlue;
  font-family: $bodyFont;
  padding: 2px 10px;
  border-radius: 5px;
  line-height: 25px;
  transition: background-color .5s ease-out;

}
.all:hover {
cursor: pointer;
  transform: scale(110%);
  background-color: $mediumBlue;
}

.all:active {
  transform: scale(90%);
  box-shadow: 0 0px 5px 0px $border inset;
}


.character {
  max-width: 20%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: $small;
  background-color: rgba(211, 211, 211, .5);
  z-index:1;
  transition: background-color .5s ease-in-out;

  h2 {
    font-family: $headerFont;
    box-shadow: 0px 0px 10px 2px $border inset;
    border: 1px solid $border;
    border-radius: $small;
    color: $primaryColor;
    font-size: 28px;
    margin-top: $xsmall;
    margin-bottom: $small;
    text-align: center;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: $nameColor
  }

  p {
    margin: 3px 0;
    color: $primaryColor;
    max-width: 100%;
    font-family: $bodyFont;
    font-size: 14px;
    padding: $small;
  }

  .tag {
    font-family: $headerFont;
    padding-right: $xsmall;
    font-size:15px;
    font-weight: bold;
    letter-spacing: .8px;
  }

  .color-one{
    @include mediumBlue(.9);
    border-radius: $small;
  }

  .color-two{
    background-color: $lightBlue;
    border-radius: $small;
  }
  .color-three{
    background-color: $lightestBlue;
    border-radius: $small;
  }
}

.character:hover {
    background-color: white;
    transform: scale(110%);
    z-index: 10;
}


.img-container {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 5px;

  img {
    height: auto;
    width: 100%;
    border-radius: 5px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
}

.status-container {
  display: flex;
  align-items: center;
  height: auto;
  position: absolute;
  top: 0.5em;
  right: 0.5em;

  p {
    font-size: 10px;
   
    display: flex;
    border-radius: 50%;
    height: 6px;
    text-align: center;
    margin-right: $xsmall;
    width: 6px;
    align-items: center;
    justify-content: center;
    font-family: $bodyFont;
    font-weight: bolder;
    line-height: 6px;
 
  }     


  i:hover {
    cursor:pointer;
    transform: scale(120%); color: rgb(214, 44, 44);
  }

  .dead {
    background-color: red;
  }

  .alive {
    background-color: rgb(31, 223, 31);
  }

  .unknown {
    background-color: yellow;
  }

  .fill {
    color: rgb(214, 44, 44);
  }
}

/* .img-container i{
    position: absolute;
    top: .5em;
    right: .5em;
} */
