//variables

@import '../variables/variables.scss';

.filterboxes{
    padding: $small;

 select {
    font-family: $bodyFont;
    background-color: $lightestBlue;
    padding: $small;
    width: 100%;
  }
}

.filter-button {
    padding: $small;
    font-family: $bodyFont;
    background-color: $lightestBlue;
    border-radius: $small;
    border-color: $border;

   i {
    padding-left: 4px;
   }
}