@import "../../variables/variables.scss";

.no-info {
  font-family: $headerFont;
  font-size: $nothingToSee;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  width: 50%;
  height: auto;
  margin: auto;
  margin-top: 1em;
  border-radius: $standard;
  position: relative;
  margin-bottom: 5em;
  background-color: rgba(211, 211, 211, 0.5);
}

.no-info {
  img {
    height: auto;
    width: 60%;
  }
  p {
    color: $primaryColor;
    padding: 1em;
    border-radius: $standard;
    margin-top: -3em;
  }
}
