.feed-container {
    width: 75%;
}

.character-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}

.character {
 max-width:20%;
 display: flex;
 flex-direction: column;
 padding:10px;
    
}

.character img {
    height: auto;
    width: 100%;
    
}


.character p{
    margin:2px 0;
}

.img-container {
   width: 100%;
   height: 100%;
    position: relative;
   
}
.status-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: auto;
    position: absolute;
    top: .5em;
    right: .5em;
}

.status-container p {
    font-size: 10px;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 1px;
    margin-top: 4px;
 
}

.dead {
    background-color: red;
}

.alive {
    background-color: rgb(31, 223, 31);
}

.unknown {
    background-color: yellow;
}

/* .img-container i{
    position: absolute;
    top: .5em;
    right: .5em;
} */

.fill {
    color: red;
}
.button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
